<main class="body">
  <img
    src="assets/paseo-pareja.jpg"
    alt="Paseadora profesional"
    class="body-image"
  />

  <h2 class="body-title">Bienvenidos a DogGoValencia</h2>
  <blockquote class="landing-quote">
    En <strong>DogGoValencia</strong> paseamos a tu compañero peludo con
    <span class="highlight">cariño</span> y
    <span class="highlight">dedicación</span>.<br />
    Nos adaptamos a tus <span class="highlight">horarios</span> para que tú
    estés tranquilo y él, feliz.<br />
    Porque no es solo un paseo: es
    <span class="highlight">tiempo de calidad</span> para tu perro.
  </blockquote>

  <img
    src="assets/ripper.jpeg"
    alt="Perro feliz DogGoValencia"
    class="landing-image"
  />

  <a
    href="https://wa.me/34614403583?text=Hola%20DogGoValencia,%20quiero%20más%20información%20sobre%20los%20paseos"
    target="_blank"
    class="main-whatsapp-button"
  >
    Reserva un paseo
  </a>

  <img
    src="assets/perro-corriendo.jpg"
    alt="Perro feliz corriendo"
    class="body-image"
  />
</main>
